/********************* header *********************/
header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #000000;
    color: #ffffff;
    height: 25vh;
}

#pp {
    margin: 2.5vh;
    height: 20vh;
}

#Nom {
    grid-column: 5/7;
    font-size: 4em;
    margin: auto 0;
}

#info {
    list-style-type : none;
    padding: 0;
    margin: auto 0;
    grid-column: 11/13;
}

.bold {
    font-weight: bold;
}
/***************************************************/






/*********************** main **********************/
main {
    background-color:#001435;
    height: 55vh;
    padding: 20vh 0 0 0;
}

section {
    background-color: white;
    margin: auto;
    min-width: 25em;
    width: 50%;
    overflow: hidden;
    border-radius: 5px;
}

h3 {
    margin: 0;
    padding: 1em;
}

button {
    width: 100%;
    min-height: 2em;
    height: 100%;
}
/***************************************************/